{% extends "ElearningCoursesBundle:CourseStudent:course_listen.html.twig" %}

{% block chaptercontent %}
<div class="student-quiz-test">
    <form>
        <div class="questions">
            {% for question in quiz.getData() %}
            {% set question_index = loop.index %}
            <div class="quiz-item">
                <div class="question">
                    {{ question['question'] }}
                </div>
                <div class="answers noselect">
                    {% for answer in question['choices'] %}
                    <input type="checkbox" class="custom-checkbox" id="answer{{ question_index }}_{{ loop.index }}" data-correct="{{ answer['correct'] }}">
                    <label for="answer{{ question_index }}_{{ loop.index }}">{{ answer['text'] }}</label>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="submit-container">
            <input type="submit" class="btn btn-orange" value="{{ "student_courses.course_listen.quiz.answer"|trans }}" />
        </div>
    </form>
    <div id="correct-answer-popup-container" style="display:none">
        <div class="correct-answer-popup quiz-answer-popup">
            <div class="content">
                <img src="{{ asset("bundles/elearningcourses/images/correct_ico.png") }}" />
            </div>
            <div class="text">
                {{ "student_courses.course_listen.quiz.correct_answer"|trans }}
            </div>
            <div class="button">
                <a href="{{ path("elearning_course_chapter_completed", {'course_id': currentchapter.courseid, 'listening_id': listening.id, 'chapter_id': currentchapter.id})}}" class="btn btn-orange">{{ "student_courses.course_listen.quiz.ok"|trans }}</a>
            </div>
        </div>
    </div>
    <div id="wrong-answer-popup-container" style="display:none">
        <div class="wrong-answer-popup quiz-answer-popup">
            <div class="content">
                <img src="{{ asset("bundles/elearningcourses/images/wrong_ico.png") }}" />
            </div>
            <div class="text">
                {{ "student_courses.course_listen.quiz.wrong_answer"|trans }}
            </div>
            <div class="button">
                <a href="#" class="btn btn-orange popup-close">{{ "student_courses.course_listen.quiz.ok"|trans }}</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% javascripts
    '../app/Resources/public/js/jquery.magnific-popup.min.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
jQuery(document).ready(function($){
    $('.student-quiz-test form').submit(function(e){
        e.preventDefault();
        var correct = true;
        $('.student-quiz-test .questions .answers input').each(function(){
            if ($(this).is(":checked") && $(this).data('correct') != 1 ||
                !$(this).is(":checked") && $(this).data('correct') == 1) {
                correct = false;
                return false;
            }
        });
        if (correct) {
            $.magnificPopup.open({
                items: {
                    src: ".correct-answer-popup",
                    type: "inline"
                }
            });
        }
        else {
            $.magnificPopup.open({
                items: {
                    src: ".wrong-answer-popup",
                    type: "inline"
                }
            });
        }

    });
    $('.popup-close').on('click', function(e) {
        e.preventDefault();
        $.magnificPopup.close();
    });
});
</script>

{% endblock %}
