<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{{ company_info.front_page.header }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

        {% stylesheets
        '../app/Resources/less/style.less'
        '../app/Resources/less/responsive.less' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        
        <!-- FORCE DROPDOWN STYLES - MUST BE LAST -->
        <style>
        /* FORCE dropdown menu visibility - override everything */
        .dropdown-menu {
            display: none !important;
            position: absolute !important;
            top: 100% !important;
            left: 0 !important;
            z-index: 9999 !important;
            min-width: 160px !important;
            padding: 5px 0 !important;
            margin: 2px 0 0 !important;
            list-style: none !important;
            background-color: #fff !important;
            border: 1px solid rgba(0,0,0,.15) !important;
            border-radius: 4px !important;
            box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
        }
        
        /* Show dropdown on hover - FORCE IT */
        .dropdown:hover > .dropdown-menu,
        li.dropdown:hover > .dropdown-menu,
        .dropdown:hover > ul.dropdown-menu,
        li.dropdown:hover > ul.dropdown-menu,
        .dropdown:hover > .menu_level_1,
        li.dropdown:hover > .menu_level_1 {
            display: block !important;
            visibility: visible !important;
            opacity: 1 !important;
        }
        
        /* Also show when has open class */
        .dropdown.open > .dropdown-menu,
        li.dropdown.open > .dropdown-menu,
        .dropdown.open > ul.dropdown-menu,
        li.dropdown.open > ul.dropdown-menu,
        .dropdown.open > .menu_level_1,
        li.dropdown.open > .menu_level_1 {
            display: block !important;
            visibility: visible !important;
            opacity: 1 !important;
        }
        
        .dropdown-toggle {
            cursor: pointer !important;
        }
        
        /* Make sure dropdown parent is positioned */
        .dropdown,
        li.dropdown {
            position: relative !important;
        }
        </style>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div class="pagemain">
        {% block header %}
            <header>
                <div class="navbar navbar-orange navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('elearning_main_homepage') }}">
                                {% for image in company_info.logo_images %}
                                    <img src="{{ asset('images/'~image) }}"/>
                                {% endfor %}
                                {% if company_info.menu_header is defined %}
                                    {{ company_info.menu_header }}
                                {% else %}
                                    {{ "header.logo_title"|trans }}
                                {% endif %}
                            </a>

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            {% if locales is defined and locales | length > 1 %}
                                <div class="languages">
                                    {% for locale in locales %}
                                        <a href="{{ path("elearning_main_homepage", {"_locale": locale}) }}">
                                            <img src="{{ asset("images/flags/flag_"~locale~".png") }}" />
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ knp_menu_render('main') }}
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-sm-6">
                            &copy; {{ company_info.footer.copyright }}
                        </div>
                        <div id="footer-solution" class="col-sm-6">
                            {{ company_info.footer.title }}: <a href="{{ company_info.footer.url }}">{{ "footer.solution"|trans }}</a>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        </div>




        {% block javascripts %}{% endblock %}
        
        <script>
        // DISABLE all Bootstrap dropdown JavaScript
        (function() {
            // Wait for DOM to be ready
            if (document.readyState === 'loading') {
                document.addEventListener('DOMContentLoaded', disableDropdownJS);
            } else {
                disableDropdownJS();
            }
            
            function disableDropdownJS() {
                // Find all dropdown toggles
                var dropdownToggles = document.querySelectorAll('a.dropdown-toggle, a[data-toggle="dropdown"]');
                
                // Remove all click handlers and prevent default
                dropdownToggles.forEach(function(toggle) {
                    // Clone and replace to remove all event listeners
                    var newToggle = toggle.cloneNode(true);
                    toggle.parentNode.replaceChild(newToggle, toggle);
                    
                    // Add new click handler that does nothing
                    newToggle.addEventListener('click', function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        e.stopImmediatePropagation();
                        return false;
                    }, true);
                });
                
                // Disable Bootstrap dropdown plugin if it exists
                if (typeof jQuery !== 'undefined' && jQuery.fn.dropdown) {
                    jQuery.fn.dropdown = function() { return this; };
                }
            }
        })();
        </script>
    </body>
</html>
