<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{{ company_info.front_page.header }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

        {% stylesheets
        '../app/Resources/less/style.less'
        '../app/Resources/less/responsive.less' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        
        <style>
        /* Force dropdown menu visibility */
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 4px;
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
        }
        .dropdown.open > .dropdown-menu,
        li.dropdown.open > .dropdown-menu {
            display: block !important;
        }
        .dropdown-toggle {
            cursor: pointer;
        }
        </style>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div class="pagemain">
        {% block header %}
            <header>
                <div class="navbar navbar-orange navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('elearning_main_homepage') }}">
                                {% for image in company_info.logo_images %}
                                    <img src="{{ asset('images/'~image) }}"/>
                                {% endfor %}
                                {% if company_info.menu_header is defined %}
                                    {{ company_info.menu_header }}
                                {% else %}
                                    {{ "header.logo_title"|trans }}
                                {% endif %}
                            </a>

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            {% if locales is defined and locales | length > 1 %}
                                <div class="languages">
                                    {% for locale in locales %}
                                        <a href="{{ path("elearning_main_homepage", {"_locale": locale}) }}">
                                            <img src="{{ asset("images/flags/flag_"~locale~".png") }}" />
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ knp_menu_render('main') }}
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-sm-6">
                            &copy; {{ company_info.footer.copyright }}
                        </div>
                        <div id="footer-solution" class="col-sm-6">
                            {{ company_info.footer.title }}: <a href="{{ company_info.footer.url }}">{{ "footer.solution"|trans }}</a>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        </div>



        {% block javascripts %}{% endblock %}
        
        <script>
        // Pure vanilla JavaScript dropdown - no jQuery dependency
        (function() {
            'use strict';
            
            function initDropdowns() {
                // Find all dropdown toggles
                var dropdownToggles = document.querySelectorAll('a.dropdown-toggle');
                
                alert('Dropdown toggles found: ' + dropdownToggles.length);
                
                if (dropdownToggles.length === 0) {
                    // Retry after 100ms if not found
                    setTimeout(initDropdowns, 100);
                    return;
                }
                
                // Add click handler to each dropdown toggle
                dropdownToggles.forEach(function(toggle) {
                    toggle.addEventListener('click', function(e) {
                        alert('Dropdown clicked!');
                        e.preventDefault();
                        e.stopPropagation();
                        
                        var parentLi = this.closest('li.dropdown');
                        if (!parentLi) return false;
                        
                        var wasOpen = parentLi.classList.contains('open');
                        
                        // Close all dropdowns
                        var allDropdowns = document.querySelectorAll('li.dropdown');
                        allDropdowns.forEach(function(dropdown) {
                            dropdown.classList.remove('open');
                        });
                        
                        // Toggle this dropdown
                        if (!wasOpen) {
                            parentLi.classList.add('open');
                        }
                        
                        return false;
                    });
                });
                
                // Close dropdowns when clicking outside
                document.addEventListener('click', function(e) {
                    var isDropdown = e.target.closest('.dropdown');
                    if (!isDropdown) {
                        var allDropdowns = document.querySelectorAll('li.dropdown');
                        allDropdowns.forEach(function(dropdown) {
                            dropdown.classList.remove('open');
                        });
                    }
                });
            }
            
            // Start when DOM is ready
            if (document.readyState === 'loading') {
                document.addEventListener('DOMContentLoaded', initDropdowns);
            } else {
                initDropdowns();
            }
        })();
        </script>
    </body>
</html>
