{% extends "bodybase.html.twig" %} {% block bodycontainer %}
<h1>{{ "new_group.page_title"|trans }}</h1>
<div class="content-container">
    <div class="new-group-page">
        <form action="{{ path("elearning_companies_create_group") }}" class="group-form" method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="group_title">{{ "new_group.title_label"|trans }}</label>
                        <input type="text" class="form-control" id="group_title" required name="group_title"
                            placeholder="{{ "new_group.write_here"|trans }}" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="submit" class="btn btn-orange"
                            value="{{ "new_group.create"|trans }}" />
                    </div>
                </div>
            </div>
        </form>
        <div class="groups-page">

        <div class="group-users">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#group-employees" aria-controls="group-employees" role="tab" data-toggle="tab">{{ "groups.tabs.group_employees"|trans }}</a></li>
                <li role="presentation"><a href="#group-managers" aria-controls="group-managers" role="tab" data-toggle="tab">{{ "groups.tabs.group_managers"|trans }}</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane group-employees active" id="group-employees">
                    <div class="add-to-group">
                        <h2>{{ "groups.all_employees.add_to_group"|trans }}</h2>
                        <div class="table-header search">
                            <form>
                                <div class="field-container">
                                    <input type="text" name="search" class="keyword"
                                        placeholder="{{ "groups.all_employees.search_text"|trans }}" />
                                    <input type="submit" value="" class="search-submit" />
                                </div>
                            </form>
                        </div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{{ "groups.employees.name_surname"|trans }}</th>
                                    <th class="hide-mobile">{{ "groups.employees.position"|trans }}</th>
                                    <th class="hide-mobile">{{ "groups.employees.address"|trans }}</th>
                                    <th>{{ "groups.group.employees.add_to_group"|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employees %}
                                <tr>
                                    <td>{{ employee.getFieldValue("name") }} {{ employee.getFieldValue("surname") }}</td>
                                    <td class="hide-mobile">{{ employee.getFieldValue("position") }}</td>
                                    <td class="hide-mobile">{{ employee.getFieldValue("address") }}</td>
                                    <td class="assign"><a href="#" class="btn btn-green add-to-group-btn" data-id="{{ employee.id }}"><span
                                            class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane group-managers" id="group-managers">
                    <div class="add-to-group">
                        <h2>{{ "groups.all_managers.add_to_group"|trans }}</h2>
                        <div class="table-header search">
                            <form>
                                <div class="field-container">
                                    <input type="text" name="search" class="keyword"
                                        placeholder="{{ "groups.all_managers.search_text"|trans }}" />
                                    <input type="submit" value="" class="search-submit" />
                                </div>
                            </form>
                        </div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>{{ "groups.employees.name_surname"|trans }}</th>
                                    <th class="hide-mobile">{{ "groups.employees.position"|trans }}</th>
                                    <th class="hide-mobile">{{ "groups.employees.address"|trans }}</th>
                                    <th>{{ "groups.group.employees.add_to_group"|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in managers %}
                                <tr>
                                    <td>{{ employee.getFieldValue("name") }} {{ employee.getFieldValue("surname") }}</td>
                                    <td class="hide-mobile">{{ employee.getFieldValue("position") }}</td>
                                    <td class="hide-mobile">{{ employee.getFieldValue("address") }}</td>
                                    <td class="assign"><a href="#" class="btn btn-green add-to-group-btn" data-id="{{ employee.id }}"><span
                                            class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>

            <div class="new-employee">
                <h2>{{ "groups.employees.new.title"|trans }}</h2>
                <div class="alert alert-success message" style="display: none"></div>
                <form action="{{ path("elearning_companies_add_employee") }}"
                    class="employee_form" method="post">
                    {% form_theme employee_fields_form"bootstrap_3_layout.html.twig" %}
                    {{ form_widget(employee_fields_form) }}
                    <div class="form-group">
                        <input type="submit" class="btn btn-orange"
                            value="{{ "groups.employees.new.add"|trans }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %}
{% stylesheets
'@ElearningCompaniesBundle/Resources/less/styles.less'
'bundles/elearningcompanies/css/chosen.min.css' filter="cssrewrite"
'@ElearningCompaniesBundle/Resources/less/responsive.less' %}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '../app/Resources/public/js/jquery.pajinate.min.js'
    '@ElearningCompaniesBundle/Resources/public/js/chosen.jquery.min.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
$(function(){
    function loadEmployee(employee) {
        var table = $('.groups-page table tbody');
        var row = $("<tr></tr>");
        row.append("<td>" + employee.name + " " + employee.surname + "</td>");
        row.append("<td class='hide-mobile'>" + employee.email + "</td>");
        row.append("<td class='hide-mobile'>" + employee.position + "</td>");
        row.append("<td class='hide-mobile'>" + employee.address + "</td>");
        row.append('<td><a href="#" class="btn btn-green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>');
        table.append(row);
    }

    function preparePagination() {
        var pajinateoptions = {
            items_per_page:10,
            item_container_id:"table tbody",
            nav_panel_id:'.pagination',
            item_id: 'tr:not(.hidden)',
            show_first_last:false,
            abort_on_small_lists:true
        };
        $('.group-users .tab-pane.group-employees > div.add-to-group').unbind().pajinate(pajinateoptions);
        $('.group-users .tab-pane.group-managers > div.add-to-group').unbind().pajinate(pajinateoptions);
    }
    preparePagination();


    $('form.employee_form').submit(function(e){
        e.preventDefault();
        var $form = $(this);
        $.ajax({
            url: $form.attr('action'),
            method: "post",
            data: $form.serialize(),
            success: function(response) {
                $form.siblings('.message').html(response.message).show();
                if (response.success) {
                    $form.siblings('.message').removeClass('alert-danger').addClass('alert-success');
                    $form.find('input').val("");
                    loadEmployee(response.employee);
                }
                else {
                    $form.siblings('.message').removeClass('alert-success').addClass('alert-danger');
                }
            }
        });
    });

    $('.groups-page .search form').submit(function(e){
        e.preventDefault();
        var keyword = $(this).find('input.keyword').val().toLowerCase();
        var rows = $(this).parents('.table-header').siblings('table').find('tbody tr');
        rows.removeClass("hidden");
        rows.each(function(){
            if (this.innerText.toLowerCase().indexOf(keyword) == -1) {
                $(this).addClass('hidden');
            }
        });
        preparePagination();
    }); 

    $('.groups-page table tbody').on('click', '.add-to-group-btn', function(e){
        e.preventDefault();
        var employee_id = $(this).data('id');
        var row = $(this).parents('tr');
        $.ajax({
            url: "{{ path("elearning_companies_add_to_group") }}",
            method: "post",
            data: {
                id: employee_id,
                new: true
            },
            success: function(response) {
                if (response.success) {
                    row.find('.assign').html('<a href="#" class="btn btn-red remove-from-group-btn" data-id="'+employee_id+'"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>');
                }
            }
        });
    });

    $('.groups-page table tbody').on('click', '.remove-from-group-btn', function(e){
        e.preventDefault();
        var employee_id = $(this).data('id');
        var row = $(this).parents('tr');
        $.ajax({
            url: "{{ path("elearning_companies_remove_from_group") }}",
            method: "post",
            data: {
                id: employee_id,
                new: true
            },
            success: function(response) {
                if (response.success) {
                    row.find('.assign').html('<a href="#" class="btn btn-green add-to-group-btn" data-id="'+employee_id+'"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>');
                }
            }
        });
    });

    $('.new-employee .position-select').chosen({
        create_option: true,
        persistent_create_option: true,
        skip_no_results: true,
        allow_single_deselect: true,
        placeholder_text: "{{ "new_employee.fields.select_position"|trans }}",
        create_option_text: "{{ "new_employee.fields.create_new_position"|trans }}"
    });
});
</script>
{% endblock %}


