{% extends view == 'html' ? "ElearningCoursesBundle:Reports:supervisor_report.html.twig" : "ElearningCoursesBundle:Reports:xlsx_base.html.twig" %}

{% block reporttitle %}
    {{ "reports.supervisor_listening.title"|trans }}
{% endblock %}

{% block xlsxlink %}
    <a href="{{ path("elearning_courses_report_supervisor_listening_groups", {'view' : 'xlsx'}) }}" class="btn btn-orange">{{ "reports.attendance.export_excell"|trans }}</a>
{% endblock %}

{% block versionlink %}
    <a href="{{ path("elearning_courses_report_supervisor_listening_groups", {'version' : 'extended'}) }}" class="btn btn-orange">{{ "reports.extended_version"|trans }}</a>
{% endblock %}


{% block table %}
    {% if groups is empty %}
        <h3 class="no-entries">{{ "reports.supervisor_listening.no_entries"|trans }}</h3>
    {% else %}
    <div class="list-table">
        <table class="table table-striped table-bordered report-table">
            <thead>
                <tr>
                    <th width="200">{{ "reports.supervisor_listening.name"|trans }}</th>
                    <th>{{ "reports.supervisor_listening.employees_count"|trans }}</th>
                    <th>{{ "reports.supervisor_listening.managers_count"|trans }}</th>
                    {% if view == 'html' %}
                        <th>{{ "reports.supervisor_listening.detail"|trans }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <td>{{ group.title }}</td>
                    <td>{{ group.id in employeescounts|keys ? employeescounts[group.id]['num'] : "0" }}</td>
                    <td>{{ group.id in managerscounts|keys ? managerscounts[group.id]['num'] : "0" }}</td>
                    {% if view == 'html' %}
                        <td>
                            <a href="{{ path("elearning_courses_report_supervisor_listening_group", {group_id:group.id}) }}">{{ "reports.supervisor_listening.detail"|trans }}</a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if view == 'html' %}
            <div class="pagination">
                {{ knp_pagination_render(groups) }}
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function ($) {
            $('table.report-table').stacktable();
        });
    </script>
{% endblock %}
