{% extends 'bodybase.html.twig' %}

{% block bodycontainer %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ 'reflection.view_title'|trans({}, 'FOSUserBundle') }}</h2>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ reflection.course.name }} - {{ reflection.studentCreatedAt|date('Y-m-d H:i') }}</h3>
                </div>
                <div class="panel-body">
                    <h4>{{ 'reflection.view.student_reflection'|trans({}, 'FOSUserBundle') }}</h4>
                    <div class="well">
                        {{ reflection.studentText|nl2br }}
                    </div>
                    
                    {% if reflection.teacherResponse %}
                        <hr>
                        <h4>{{ 'reflection.view.teacher_response'|trans({}, 'FOSUserBundle') }} <small>({{ reflection.teacherRespondedAt|date('Y-m-d H:i') }})</small></h4>
                        <div class="well well-lg" style="background-color: #fcfcfc; border-left: 5px solid #f0ad4e;">
                             {{ reflection.teacherResponse|nl2br }}
                             <br>
                             <small><em>- {{ reflection.teacher.username }}</em></small>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                             {{ 'reflection.view.waiting_for_response'|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endif %}
                    
                    <a href="{{ path('student_reflection_list') }}" class="btn btn-default">{{ 'reflection.action.back'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
