{% extends 'bodybase.html.twig' %}

{% block bodycontainer %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ 'reflection.teacher.list_title'|trans({}, 'FOSUserBundle') }}</h2>
            
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if reflections|length > 0 %}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{{ 'reflection.list.student'|trans({}, 'FOSUserBundle') }}</th>
                                    <th>{{ 'reflection.list.course'|trans({}, 'FOSUserBundle') }}</th>
                                    <th>{{ 'reflection.list.date'|trans({}, 'FOSUserBundle') }}</th>
                                    <th>{{ 'reflection.list.status'|trans({}, 'FOSUserBundle') }}</th>
                                    <th>{{ 'reflection.list.actions'|trans({}, 'FOSUserBundle') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reflection in reflections %}
                                    <tr class="{{ not reflection.isReadByTeacher ? 'warning' : '' }}">
                                        <td>{{ reflection.student.username }}</td>
                                        <td>{{ reflection.course.name }}</td>
                                        <td>{{ reflection.studentCreatedAt|date('Y-m-d H:i') }}</td>
                                        <td>
                                            {% if reflection.teacherResponse %}
                                                <span class="label label-success">{{ 'reflection.status.responded'|trans({}, 'FOSUserBundle') }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ 'reflection.status.needs_response'|trans({}, 'FOSUserBundle') }}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if not reflection.teacherResponse %}
                                                <a href="{{ path('teacher_reflection_respond', {'id': reflection.id}) }}" class="btn btn-sm btn-orange">
                                                    <i class="fa fa-reply"></i> {{ 'reflection.action.respond'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            {% else %}
                                                <a href="{{ path('teacher_reflection_respond', {'id': reflection.id}) }}" class="btn btn-sm btn-default">
                                                    <i class="fa fa-eye"></i> {{ 'reflection.action.view'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">
                            {{ 'reflection.teacher.no_reflections'|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
